* {
  color: white;
}

input {
    color:black;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 200px;
  padding: 100px;
  border-bottom: 1px solid white;
}

.banner h1 {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
}

.main_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 700px;
}

.main_page form {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 50px 50px;
}

.main_page form input,
textarea {
  width: 500px;
  height: auto;
  border-radius: 8px;
  border: none;
  margin: 10px;
  padding: 20px;
  color: black;
}

textarea {
  height: 150px;
}

.main_page form input[type="submit"] {
  cursor: pointer;
}

.main_page form input[type="submit"]:hover {
  background-color: green;
}

.confirmation {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  /* background-color: yellow; */
  padding-top: 30px;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 200px;
  padding: 0px;
  line-height: 60px;
}

.personalInfo p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px 200px;
  gap: 50px;
  border-top: 2px solid white;
  padding: 30px 0;
  cursor: pointer;
}

.links *:hover {
  color: black;
}

.sections {
  display: flex;
  flex-direction: column;
}
