@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 1em auto;
  background-color: darkslategray;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

h2 {
  background-color: antiquewhite;
}

.navbar_container {
  display: flex;
  background-color: red;
  height: auto;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.navbar {
  background-color: blue;
  display: flex;
  flex-direction: row;
  width: 20%;
  gap: 20px;
}

.navbar a {
  color: white;
}

.searchbar {
  color: white;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: fit-content;
  height: fit-content;
}

.searchbar input {
  border: none;
  margin: 10px;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.searchbar button {
  width: auto;
  border: none;
}
