:root {
  --base-color: #111;
  --light-grey: #282b2e;
}

body {
  background-color: var(--base-color);
}

.logo {
  width: 200px;
  height: auto;
}

.container {
  margin-top: 100px;
}

.navbar_container {
  display: flex;
  background-color: var(--light-grey);
  height: auto;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  position: fixed;
  top: 0;
  opacity: 80%;
}

.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 20px;
}

.navbar a {
  color: white;
  padding: 0 20px;
}

.searchbar {
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 15px;
}

.searchbar input {
  border: none;
  margin: 10px 10px 10px 20px;
  background-color: transparent;
  color: white;
}

*:focus {
  outline: none;
}

.searchbar button {
  border: none;
  background-color: transparent;
  margin-right:20px;
}
